[Desktop Entry]
Type=Application
Version=1.0
Name=xwpe
GenericName=Programming Environment
Comment=Turbo Vision-style programming environment and text editor
Exec=xwpe %F
TryExec=xwpe
Icon=xwpe
Terminal=false
Categories=Development;IDE;TextEditor;
Keywords=editor;ide;programming;turbo;console;
MimeType=text/plain;text/x-csrc;text/x-chdr;text/x-c++src;text/x-pascal;
